<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Place Name Input Form</title>
  </head>
  <body>
    <h1>Place Name</h1>
    <form method="POST" name="Place Name"> 
      <p>
        Please enter the name of a Place in Boston:
      </p>
      <p>
        <p>Place Name <input type = "text" name = "a"/></p>
      </p>
      <p>
        <input type="submit" value="submit"/>
      </p>
    </form>
  </body>
</html>